<div class="inner-container">
<div class="col-sm-5">
  <p>Hi, my name is <b>Kevin Borrell</b>,</p>
  <p><br>I'm a student of Computing Engineering in University of Lleida.</p>
  <p>
    This website is part of my Undergraduate Thesis Project and it corresponds to an Stochastic Programming Optimisation Server App,<br>
    where you can run executions using different solvers, methods and models.
  </p>
  <p>Hope you like it!</p>
  <p><br>PD: This is site is not finished yet! </p>
</div>
<div class="col-sm-5">
  <img src="images/me.jpg" width="200px">
</div>
</div>
