<div class="jumbotron">
  <div class="jumboton-text">
    <h1>SPOS</h1>
    <p class="lead">
      A new cloud service for solving numerical linear optimization problems
    </p>
    <div class="jumbotron-buttons">
      <a class="btn btn-lg btn-success" ui-sref="createSession" role="button">New session</a>
      <a class="btn btn-lg btn-info" ui-sref="viewSession" role="button">Check Results</a>
    </div>
  </div>
</div>

<div class="marketing-container">
<div class="row marketing">
  <div class="row">
    <div class="col-md-4">
      <img class="marketing-image" src="../images/charts.png" width="100">
      <h2>Launch solvers executions</h2>
      <p>This service allows you to solve your optimization problems on the cloud without worrying about solvers configurations
        or required hardware. Once the solver execution finishes, you will be able to check and download the results.</p>
    </div>
    <div class="col-md-4">
      <img class="marketing-image" src="../images/configs.png" width="100">
      <h2>Customize your execution</h2>
      <p>You can customize your execution by choosing the type of model, the solver to be used and the format of model
        files. And if this is not enough, you will be able to customize the virtual machine where the solver will be
        running too!</p>

    </div>
    <div class="col-md-4">
      <img class="marketing-image" src="../images/users.png" width="100">
      <h2>Easy, simple, powerful</h2>
      <p>All this facilities are offered to you through a simple and easy user interface. A step-by-step process will guide you
      while creating a new session and you will get a summarised version of the result, of possible. Keep it simple!</p>

    </div>
  </div>
</div>
</div>
