<div class="inner-container">
<div>
  <div id="login" class="text-center" ng-hide="logged">
    <session-login></session-login>
  </div>
  <div id="sessionInfo" ng-show="logged">
    <h2>Session #{{session.id}}</h2>
    <h3>Status:
      <div style="display: inline;" ng-bind-html="sessionStatus"></div>
      <a style="color: #000;" ng-click="refresh()"><span style="font-size: 15px; margin-left: 10px;" class="glyphicon glyphicon-refresh icon-refresh"></span></a></h3>

    <div id="session-info-row" class="panel panel-default" style="margin-top: 50px;">
      <div class="panel-heading">Information summary</div>
      <div class="panel-body">
        <div class="col-sm-4">
          <div id="session-vm" class="text-center">
            <h4>Virtual Machine</h4>
            <h5>Virtual CPUs: {{session.vmConfig.virtualCPUs}}</h5>
            <h5>Memory: {{session.vmConfig.ram}} Mb</h5>
            <h5>Real CPUs: {{session.vmConfig.realCPUs}}</h5>
            <h5>IP:
              <span ng-show="session.ip">{{session.ip}}</span>
              <span ng-hide="session.ip">Not assigned yet</span>
            </h5>
          </div>
        </div>

        <div class="col-sm-4">
          <div id="session-parameters" class="text-center">
            <h4>Session</h4>
            <h5>ID: {{session.id}}</h5>
            <h5>Email: {{session.email}}</h5>
            <h5>Solution Type: {{session.type}}</h5>
            <h5 ng-show="session.type == 'Feasible'">Maximum duration: {{session.maximumDuration}}</h5>
            <h5>Model: {{session.info.model.model}}</h5>
            <h5>Method: {{session.info.method.method}}</h5>
          </div>
        </div>

        <div class="col-sm-4">
          <div id="session-extra" class="text-center">
            <h4>Extra information</h4>
            <h5>Parallelized:
              <span ng-show="session.info.parallelized"><span class="glyphicon glyphicon-ok"></span></span>
              <span ng-hide="session.info.parallelized"><span class="glyphicon glyphicon-remove"></span></span>
            </h5>
            <h5>Clustered:
              <span ng-show="session.info.groupSize > 0"><span class="glyphicon glyphicon-ok"></span></span>
              <span ng-hide="session.info.groupSize > 0"><span class="glyphicon glyphicon-remove"></span></span>
            </h5>
            <h5 ng-show="session.info.groupSize > 0">Nº of clusters: {{session.info.groupSize}}</h5>
          </div>
        </div>
      </div>
      </div>

      <div id="session-input-row" class="panel panel-default" style="margin-top: 50px;">
        <div class="panel-heading">Input file</div>
        <div class="panel-body">
          <h5 ng-show="files.length == 0">Loading input file... Please wait.</h5>
          <div ng-repeat="file in files">
            <div class="col-xs-6">
              <span style="font-size: large; font-weight: 600">{{file.name}}</span>
              <br>
              <hm-read-more
                hm-text="{{::file.content}}"
                hm-limit="200"
                hm-more-text="Show more"
                hm-less-text="Show less"
                hm-dots-class="dots"
                hm-link-class="links"></hm-read-more>
            </div>
          </div>
        </div>
      </div>

    <div id="session-output-row" class="panel panel-default" style="margin-top: 50px;">
      <div class="panel-heading" style="height: 50px;">
        <div style="float: right;">
          <a ng-href="{{ url }}" ng-show="fullResults" class="btn btn-info" role="button" download="Execution_{{session.id}}_results.txt">Download full results</a>
        </div>

        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href data-target="#results">Results</a></li>
          <li ng-show="shortResults && showCharts"><a data-toggle="tab" href data-target="#charts">Charts</a></li>
        </ul>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          <div id="results" class="tab-pane fade in active">
            <h4 ng-show="!shortResults && !fullResults">Results will be shown when the execution ends.</h4>
            <h4 ng-show="!shortResults && fullResults">There was an error in the execution. Please try again.</h4>
            <hm-read-more
              hm-text="{{shortResults}}"
              hm-limit="200"
              hm-more-text="Show more"
              hm-less-text="Show less"
              hm-dots-class="dots"
              hm-link-class="links"></hm-read-more>
          </div>
          <div id="charts" class="tab-pane fade">
            <h4>CPU Usage Chart (%)</h4>
            <canvas id="cpuChart" class="chart chart-line" chart-data="cpuData"
                             chart-labels="cpuLabels" chart-legend="false" chart-options="{xAxisID: 'Hola', pointHitDetectionRadius : 1}"
                              >
          </canvas>
            <h4>Memory Usage Chart (MB)</h4>
            <canvas id="memChart" class="chart chart-line" chart-data="memData"
                    chart-labels="memLabels" chart-legend="false" chart-options="{pointHitDetectionRadius : 1}"
                    >
            </canvas>
          </div>
        </div>
      </div>
    </div>
    </div>

  </div>
</div>
