<div class="row" id="methods">
  <h3>
    3. Choose the method
    <br>
    <small>Almost there... Now choose the method used to solve the problem. Some options are disabled, depending
      on your model decision.</small>
  </h3>
  <form name="methodForm" class="methodForm">
    <div ng-repeat="method in compatibleMethods">
      <label>
        <input type="radio" ng-model="parameters.method" value="{{method}}"> {{method}}
      </label>
    </div>
    <div ng-hide="parameters.model">
      <h5>You must select an execution model first.</h5>
    </div>
  </form>
</div>
