<div class="row" id="methods">
  <h3>
    3. Choose the method
    <br>
    <small>Almost there... Now choose the method used to solve the problem. Some options are disabled, depending
      on your model decision.</small>
  </h3>
  <form name="methodForm" class="methodForm">
    <div ng-repeat="method in parameters.model.compatibleMethods">
      <label>
        <input type="radio" ng-model="$parent.selectedMethod" value="{{method.method}}" ng-change="$parent.loadMethod()"> {{method.method}}
      </label>
        <div class="options" ng-show="$parent.parameters.method.method == method.method" style="margin: 10px 0 10px 20px;">
            <form name="methodOptionsForm" class="methodOptionsForm">
                <label ng-show="method.parallelizationSupport">
                    <input type="checkbox" ng-model="$parent.parameters.isParallel"> Parallelized
                </label>
                <label ng-show="method.clusterSupport">
                    <input type="checkbox" ng-model="$parent.parameters.isClustered"> Clustered
                    <br>
                    <span style="margin-left: 20px;" ng-show="$parent.parameters.isClustered">
                        <input ng-model="$parent.parameters.groupSize" type="number" min="0" max="10"> clusters
                    </span>
                </label>
            </form>
        </div>
    </div>
    <div ng-hide="parameters.model">
      <h5>You must select an execution model first.</h5>
    </div>
  </form>
</div>
