<div class="row" id="models">
  <h3>
    2. Choose the model
    <br>
    <small>Time to choose the model of data which fits better with your requirements. Depending on what model you choose,
      you will have different methods of resolution to choose in the next step.</small>
  </h3>
  <div class="row col-xs-10">
    <form name="modelForm" class="modelForm">
      <label>
        <input type="radio" ng-model="selectedModel" value="GDS2SP" ng-change="getCompatibleMethods()"> General Discrete Stochastic Two Stage Problem
      </label>
      <label>
        <input type="radio" ng-model="selectedModel" value="SFLP" ng-change="getCompatibleMethods()"> Stochastic Facility Location Problem
      </label>
      <label>
        <input type="radio" ng-model="selectedModel" value="GM01S2SP" ng-change="getCompatibleMethods()"> General Mixed 0-1 Stochastic Two Stage Problem
      </label>
    </form>
  </div>
</div>
