<div class="row" id="problem">
  <div class="row col-xs-10 text-center">
    <form name="problemForm" class="problemForm" novalidate>
      <div class="col-xs-6">
        <label>
          <input type="radio" ng-model="problemType" value="Determinist" required ng-change="setDeterminist()"> Determinist problem
        </label>
      </div>
      <div class="col-xs-6">
        <label>
          <input type="radio" ng-model="problemType" value="Stochastic" ng-disabled="true"> Stochastic problem
        </label>
      </div>
    </form>
  </div>
</div>
