<div class="row" id="problem">
  <h3>
    2. Choose the type of the problem
    <br>
    <small>Do you have a determinist or a stochastic problem? The remaining steps of the session creation will be adapted
    to your choice here</small>
  </h3>
  <div class="row col-xs-10 text-center">
    <form name="problemForm" class="problemForm" novalidate>
      <div class="col-xs-6">
        <label>
          <input type="radio" ng-model="problemType" value="Determinist" required ng-change="setDeterminist()"> Determinist problem
        </label>
      </div>
      <div class="col-xs-6">
        <label>
          <input type="radio" ng-model="problemType" value="Stochastic" ng-disabled="true"> Stochastic problem
        </label>
      </div>
    </form>
  </div>
</div>
