<div class="row" id="solvers">
  <div ng-show="methodLoadState == MethodLoadState.NONLOADED">
    <h5>You must select an execution model first.</h5>
  </div>
  <div ng-show="methodLoadState == MethodLoadState.LOADING">
    <img src="../../images/loading_spinner.gif" width="45" style="display: inline;"><h5 style="display: inline;">Loading methods...</h5>
  </div>
  <div ng-show="methodLoadState == MethodLoadState.LOADED">
    <form name="methodForm" class="methodForm">
      <div class="row col-xs-12 col-xs-offset-3">
        <div ng-repeat="method in parameters.model.compatibleMethods">
          <div class="clearfix" ng-if="$index % 2 == 0"></div>
          <div class="col-sm-4">
            <label>
              <input type="radio" ng-model="$parent.selectedMethod" value="{{method.method}}" ng-change="$parent.loadMethod()" required> {{method.method}}
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div ng-show="methodLoadState == MethodLoadState.ERROR">
    <h5 style="color: red;">An error has occurred when trying to load methods. Please try again later.</h5>
  </div>
</div>
