<div class="row" id="solvers">
  <h3>
    3b. Choose the solver
    <br>
    <small>Almost there... Now choose the solver used to solve the problem.</small>
  </h3>
  <div ng-show="methodLoadState == MethodLoadState.NONLOADED">
    <h5>You must select an execution model first.</h5>
  </div>
  <div ng-show="methodLoadState == MethodLoadState.LOADING">
    <img src="../../images/loading_spinner.gif" width="45" style="display: inline;"><h5 style="display: inline;">Loading methods...</h5>
  </div>
  <div ng-show="methodLoadState == MethodLoadState.LOADED">
    <form name="methodForm" class="methodForm">
      <div ng-repeat="method in parameters.model.compatibleMethods">
        <label>
          <input type="radio" ng-model="$parent.selectedMethod" value="{{method.method}}" ng-change="$parent.loadMethod()" required> {{method.method}}
        </label>
      </div>

      <br>
      <button type="button" class="btn btn-md btn-success" ng-click="completeFirstStep()"
              ng-disabled="(vmConfigForm.$invalid && predefinedVMForm.$invalid) || solverForm.$invalid || !selectedMethod">
        Next step
      </button>
    </form>
  </div>
  <div ng-show="methodLoadState == MethodLoadState.ERROR">
    <h5 style="color: red;">An error has occurred when trying to load methods. Please try again later.</h5>
  </div>
</div>
