<div class="row" id="vmconfig">
  <div class="row">
    <div class="col-xs-6">
      <h4>You can choose a predefined VM configuration:</h4>
      <form name="predefinedVMForm" class="predefinedVMForm" novalidate>
        <label><input type="radio" ng-model="predefinedVM" value="High" ng-change="clearVMConfig()" required> High</label>
        <label><input type="radio" ng-model="predefinedVM" value="Medium" ng-change="clearVMConfig()"> Medium</label>
        <label><input type="radio" ng-model="predefinedVM" value="Low" ng-change="clearVMConfig()"> Low</label>
      </form>
    </div>
    <div class="col-xs-6 separator">
      <h4>Or choose your own configuration:</h4>
      <br>
      <b>Virtual CPUs:</b>
      <div>
        <rzslider rz-slider-model="vmConfig.virtualCPUs" rz-slider-options="vCpuSlider.options"></rzslider>
      </div>
      <br>
      <b>Memory:</b>
      <div>
        <rzslider rz-slider-model="vmConfig.ram" rz-slider-options="memSlider.options"></rzslider>
      </div>
      <br>
      <b>Real CPUs:</b>
      <div>
        <rzslider rz-slider-model="vmConfig.realCPUs" rz-slider-options="rCpuSlider.options"></rzslider>
      </div>
    </div>
  </div>
</div>
